/* Navbar-CSS */

.back-img {
   /* background: url('../images/Mask\ Group.png') left 88% bottom 20% / cover
      no-repeat border-box; */
   position: relative;
}

.navbar-toggler i {
   color: #ed1c24;
   font-size: 1.75rem;
}

.nav-link {
   color: #ed1c24;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
   color: #ed1c24;
}

.navbar-nav {
   margin-left: 40px;
}

.mail-sec a {
   font-size: 14px;
   font-weight: 600;
   color: black;
}

.set-height {
   margin-top: 5rem;
}

.back-img-2 {
   background: url("../images/image\ 10.png");
   background-size: cover;
   padding: 2rem 0.5rem;
}

.back-img-2 p {
   font-style: normal;
   font-weight: 800;
   font-size: 46px;
   line-height: 140.7%;
   color: #000000;
}

.back-img-2 button {
   background: #ffffff;
   border: 2px solid #ed1c24;
   box-sizing: border-box;
   border-radius: 15px 0px 0px 0px;
   text-transform: uppercase;
   margin-top: 2rem;
}

.back-img-2 button p {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   letter-spacing: 0.065em;
   /* identical to box height, or 21px */
   text-transform: uppercase;
   color: #ed1c24;
   padding: 6px 48px;
}

.style-img img {
   position: absolute;
   top: 0;
   right: 0;
   max-width: 667px;
   width: 50%;
   z-index: -1;
}

@media (max-width: 991px) {
   .style-img img {
      display: none;
   }

   .navbar-nav {
      margin: 0;
   }

   .mail-sec {
      margin: 1rem 0;
   }
}

@media (max-width: 575px) {
   .back-img-2 p {
      font-size: 32px;
   }
}

/* Cards-Section-Css */

.cards-section {
   margin-top: 14rem;
}

.cards img {
   width: 100%;
}

.cards p {
   color: #ed1c24;
   font-size: 18px;
   font-weight: bold;
   margin: 0.5rem 0;
}

.cards h6 {
   color: #000000;
   font-size: 14px;
   margin-bottom: 0;
}

@media (max-width: 1199px) {
   .set-height {
      margin: 5rem 0;
   }

   .cards-section {
      margin-top: 5rem;
   }
}

@media (max-width: 1155px) {
   .set-height {
      margin: 4rem 0;
   }

   .cards-section {
      margin-top: 4rem;
   }
}

@media (max-width: 1061px) {
   .cards-section {
      margin-top: 2rem;
   }
}

@media (max-width: 991px) {
   .cards-section {
      margin-top: 1rem;
   }
}

/* About-Us-Section-Css */

.about-us {
   margin: 3rem 0;
}

.about-us .set-wid {
   padding: 0 3rem;
}

.about-us .abt-cont {
   position: relative;
}

.about-us .abt-cont p {
   font-size: 26px;
   font-weight: bold;
   color: #000000;
   padding-top: 28px;
}

.about-us .abt-cont h1 {
   text-transform: uppercase;
   font-size: 64px;
   color: #333333;
   opacity: 0.03;
   line-height: 39px;
   font-weight: bold;
   position: absolute;
   top: 0;
   left: -1rem;
}

.about-us .investment {
   position: relative;
   margin-top: 1rem;
}

.about-us .investment p {
   font-size: 14px;
   color: #000000;
   padding: 0 2rem;
   line-height: 25.2px;
}

.about-us .investment div {
   width: 1px;
   height: 85px;
   background: #ed1c24;
   position: absolute;
   top: 0;
   left: 0;
}

.about-us img {
   border-radius: 0px 0px 0px 80px;
}

@media (max-width: 991px) {
   .about-us .set-wid {
      padding: 0 3.5rem;
   }

   .about-us img {
      margin: 2rem 0;
   }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
   .about-us .set-wid {
      padding: 0 0.5rem;
   }
}

/* Core-Team-CSS */

.core-team .team-member h1 {
   font-size: 16px;
   font-weight: 700;
   color: #000000;
   margin: 0.5rem 0;
}

.core-team .team-member p {
   font-size: 14px;
   color: #000000;
   line-height: 25.2px;
}

.core-team .content {
   padding: 0 3rem;
}

.core-team .content h1 {
   font-size: 26px;
   font-weight: 700;
   color: #333333;
}

.core-team .content p {
   font-size: 14px;
   line-height: 25.2px;
   color: #000000;
}

.core-team .content .cont-div {
   position: relative;
   padding: 0 1rem;
   margin: 1.5rem 0;
}

.core-team .content .cont-div div {
   width: 1px;
   height: 91px;
   background: #ed1c24;
   position: absolute;
   top: 0;
   left: 0;
}

/* TimeLine-Section-Css */

.timeline-sect {
   margin: 4rem 0;
}

.timeline-sect .bullet-cont {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 1rem 4rem;
   position: relative;
}

.timeline-sect .bullet-cont div {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.timeline-sect .bullet-cont i {
   color: #000000;
}

.timeline-sect .bullet-cont .rela-div {
   position: absolute;
   top: -5%;
   left: 9%;
}

.timeline-sect .bullet-cont .rela-div span {
   font-size: 64px;
   font-weight: bold;
   text-transform: uppercase;
   color: #333333;
   opacity: 0.03;
}

.timeline-sect .content-p {
   padding: 2rem 1.5rem;
}

.timeline-sect .content-p p {
   font-size: 14px;
   color: #000000;
   line-height: 25.2px;
}

.timeline-sect .img-sect {
   text-align: end;
   padding-right: 0;
}

@media (max-width: 991px) {
   .timeline-sect {
      margin: 2rem 0;
   }

   .timeline-sect .bullet-cont {
      padding: 0 3rem;
   }

   .timeline-sect .bullet-cont div {
      justify-content: space-around;
      margin: 0.5rem 0;
   }

   .timeline-sect .content-p {
      text-align: center;
      padding: 0 1rem;
   }

   .timeline-sect .img-sect {
      text-align: center;
      padding: 0 0.75rem;
   }

   .timeline-sect .bullet-cont .rela-div {
      display: none;
   }
}

@media (max-width: 767px) {
   .timeline-sect {
      margin: 2rem 0;
   }

   .timeline-sect .bullet-cont {
      padding: 0 3rem;
   }

   .timeline-sect .bullet-cont div {
      justify-content: space-around;
      margin: 0.5rem 0;
   }

   .timeline-sect .content-p {
      text-align: center;
      padding: 0 2rem;
   }

   .timeline-sect .img-sect {
      text-align: center;
      padding: 0 0.75rem;
   }
}

@media (max-width: 575px) {
   .timeline-sect {
      margin: 2rem 0;
   }

   .timeline-sect .bullet-cont {
      padding: 0 3rem;
   }

   .timeline-sect .bullet-cont div {
      margin: 0.5rem 0;
   }

   .timeline-sect .content-p {
      text-align: center;
   }

   .timeline-sect .img-sect {
      text-align: center;
      padding: 0 0.75rem;
   }
}

/* Footer-CSS */

.footer-back {
   background: #000000;
   /* padding: 2rem 0; */
}

/* .footer-back img {
   position: absolute;
   top: 0;
   left: 0;
} */

.footer-back .contct p {
   font-size: 16px;
   color: #ffffff;
}

.footer-back .contct span {
   color: rgba(255, 255, 255, 0.6);
}

.footer-back .icons {
   display: flex;
   justify-content: center;
   padding: 0;
}

.footer-back .icons li {
   margin: 0 1rem;
}

.footer-back .icons li a i {
   color: #ffffff;
   font-size: 18px;
}

.footer-back .copyrite {
   text-align: center;
}

.footer-back .copyrite p {
   color: rgba(255, 255, 255, 0.6);
   font-size: 14px;
}

.footer-back .copyrite p span {
   color: #ffffff;
}

@media (max-width: 767px) {
   .footer-img-div {
      display: none;
   }

   .footer-back {
      padding: 2rem 0;
   }
}
